@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #f0f0f0;
  

}

* {
  margin: 0;
  
  /* text-transform: uppercase; */
} 

html {
  height: 100%;
  min-height: fit-content;
}
body {
  height: 100%;
  min-height: fit-content;

}


.path-0, .path-1, .path-2, .path-3 {
  fill:
    radial-gradient(
      110.35% 80.79% at 6% 103.92%,
      rgba(37, 169, 239, 1) 0%,
      rgba(37, 169, 239, 0) 100%
    ),
    linear-gradient(
      169.3deg,
      rgba(205, 249, 232, 1) 15%,
      rgba(205, 249, 232, 0) 46%
    );
  /* fill: #002d67 ;
  background: rgb(9,9,121); */
  /* fill: linear-gradient(180deg, rgba(9,9,121,1) 55%, rgb(0, 123, 255) 10%); */
  /* transition: all 15s ease-in-out; */
  /* transform: matrix(3); */
  /* fill: #0087BD; */
  /* fill: lab(13 13 -23); */
}


.path-0{
  animation: pathAnim-0 40s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  background-blend-mode: color;
    
}
@keyframes pathAnim-0{
  0%{
    d: path("M 0,500 L 0,75 C 102.91866028708134,59.38277511961722 205.83732057416267,43.76555023923444 296,60 C 386.1626794258373,76.23444976076556 463.56937799043067,124.32057416267943 545,165 C 626.4306220095693,205.67942583732057 711.8851674641148,238.9521531100478 810,256 C 908.1148325358852,273.0478468899522 1018.88995215311,273.8708133971292 1126,291 C 1233.11004784689,308.1291866028708 1336.5550239234449,341.56459330143537 1440,375 L 1440,500 L 0,500 Z");
  }
  25%{
    d: path("M 0,500 L 0,75 C 75.20574162679424,55.411483253588514 150.41148325358847,35.82296650717702 246,43 C 341.5885167464115,50.17703349282298 457.5598086124403,84.11961722488041 559,129 C 660.4401913875597,173.88038277511959 747.3492822966506,229.69856459330146 856,249 C 964.6507177033494,268.30143540669854 1095.043062200957,251.08612440191388 1196,266 C 1296.956937799043,280.9138755980861 1368.4784688995214,327.9569377990431 1440,375 L 1440,500 L 0,500 Z");
  }
  50%{
    d: path("M 0,500 L 0,75 C 117.17703349282297,83.42105263157895 234.35406698564594,91.84210526315789 321,96 C 407.64593301435406,100.15789473684211 463.76076555023917,100.05263157894737 555,119 C 646.2392344497608,137.94736842105263 772.6028708133971,175.94736842105263 878,211 C 983.3971291866029,246.05263157894737 1067.8277511961724,278.15789473684214 1158,305 C 1248.1722488038276,331.84210526315786 1344.0861244019138,353.42105263157896 1440,375 L 1440,500 L 0,500 Z");
  }
  75%{
    d: path("M 0,500 L 0,75 C 72.14354066985646,83.80382775119617 144.28708133971293,92.60765550239235 236,110 C 327.7129186602871,127.39234449760765 438.9952153110047,153.3732057416268 561,167 C 683.0047846889953,180.6267942583732 815.7320574162679,181.89952153110048 908,197 C 1000.2679425837321,212.10047846889952 1052.0765550239234,241.0287081339713 1134,273 C 1215.9234449760766,304.9712918660287 1327.9617224880383,339.9856459330143 1440,375 L 1440,500 L 0,500 Z");
  }
  100%{
    d: path("M 0,500 L 0,75 C 102.91866028708134,59.38277511961722 205.83732057416267,43.76555023923444 296,60 C 386.1626794258373,76.23444976076556 463.56937799043067,124.32057416267943 545,165 C 626.4306220095693,205.67942583732057 711.8851674641148,238.9521531100478 810,256 C 908.1148325358852,273.0478468899522 1018.88995215311,273.8708133971292 1126,291 C 1233.11004784689,308.1291866028708 1336.5550239234449,341.56459330143537 1440,375 L 1440,500 L 0,500 Z");
  }
}

.path-1{
  animation:pathAnim-1 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-1{
  0%{
    d: path("M 0,500 L 0,175 C 79.26315789473685,184.20574162679426 158.5263157894737,193.41148325358853 243,210 C 327.4736842105263,226.58851674641147 417.1578947368421,250.55980861244018 525,274 C 632.8421052631579,297.4401913875598 758.8421052631578,320.34928229665076 854,332 C 949.1578947368422,343.65071770334924 1013.4736842105265,344.04306220095697 1106,366 C 1198.5263157894735,387.95693779904303 1319.2631578947367,431.47846889952154 1440,475 L 1440,500 L 0,500 Z");
  }
  25%{
    d: path("M 0,500 L 0,175 C 115.48325358851676,161.7177033492823 230.96650717703352,148.43540669856458 319,168 C 407.0334928229665,187.56459330143542 467.6172248803829,239.97607655502395 546,266 C 624.3827751196171,292.02392344497605 720.5645933014354,291.6602870813397 814,317 C 907.4354066985646,342.3397129186603 998.1244019138758,393.38277511961724 1102,424 C 1205.8755980861242,454.61722488038276 1322.9377990430621,464.8086124401914 1440,475 L 1440,500 L 0,500 Z");
  }
  50%{
    d: path("M 0,500 L 0,175 C 81.1866028708134,153.1531100478469 162.3732057416268,131.3062200956938 273,153 C 383.6267942583732,174.6937799043062 523.6937799043063,239.92822966507174 608,278 C 692.3062200956937,316.07177033492826 720.8516746411484,326.98086124401914 819,350 C 917.1483253588516,373.01913875598086 1084.8995215311004,408.14832535885165 1200,431 C 1315.1004784688996,453.85167464114835 1377.5502392344497,464.42583732057415 1440,475 L 1440,500 L 0,500 Z");
  }
  75%{
    d: path("M 0,500 L 0,175 C 114.2870813397129,176.31100478468898 228.5741626794258,177.62200956937798 310,193 C 391.4258373205742,208.37799043062202 439.9904306220096,237.82296650717706 533,266 C 626.0095693779904,294.17703349282294 763.464114832536,321.0861244019139 862,348 C 960.535885167464,374.9138755980861 1020.1531100478469,401.83253588516743 1110,423 C 1199.846889952153,444.16746411483257 1319.9234449760766,459.5837320574163 1440,475 L 1440,500 L 0,500 Z");
  }
  100%{
    d: path("M 0,500 L 0,175 C 79.26315789473685,184.20574162679426 158.5263157894737,193.41148325358853 243,210 C 327.4736842105263,226.58851674641147 417.1578947368421,250.55980861244018 525,274 C 632.8421052631579,297.4401913875598 758.8421052631578,320.34928229665076 854,332 C 949.1578947368422,343.65071770334924 1013.4736842105265,344.04306220095697 1106,366 C 1198.5263157894735,387.95693779904303 1319.2631578947367,431.47846889952154 1440,475 L 1440,500 L 0,500 Z");
  }
}

.path-2{
  animation:pathAnim-2 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-2{
  0%{
    d: path("M 0,500 L 0,275 C 77.69377990430621,269.0861244019139 155.38755980861242,263.17224880382776 252,274 C 348.6124401913876,284.82775119617224 464.1435406698564,312.3971291866029 555,335 C 645.8564593301436,357.6028708133971 712.0382775119618,375.23923444976083 816,400 C 919.9617224880382,424.76076555023917 1061.7033492822966,456.645933014354 1172,487 C 1282.2966507177034,517.354066985646 1361.1483253588517,546.177033492823 1440,575 L 1440,500 L 0,500 Z");
  }
  25%{
    d: path("M 0,500 L 0,275 C 95.14832535885168,256.9043062200957 190.29665071770336,238.80861244019133 277,261 C 363.70334928229664,283.1913875598087 441.9617224880383,345.6698564593302 540,375 C 638.0382775119617,404.3301435406698 755.8564593301436,400.51196172248797 852,422 C 948.1435406698564,443.48803827751203 1022.6124401913873,490.28229665071774 1117,520 C 1211.3875598086127,549.7177033492823 1325.6937799043062,562.3588516746411 1440,575 L 1440,500 L 0,500 Z");
  }
  50%{
    d: path("M 0,500 L 0,275 C 110.18181818181819,275.91866028708137 220.36363636363637,276.8373205741627 311,294 C 401.6363636363636,311.1626794258373 472.72727272727275,344.56937799043067 567,371 C 661.2727272727273,397.43062200956933 778.7272727272726,416.88516746411483 888,434 C 997.2727272727274,451.11483253588517 1098.3636363636365,465.88995215311 1189,489 C 1279.6363636363635,512.11004784689 1359.8181818181818,543.555023923445 1440,575 L 1440,500 L 0,500 Z");
  }
  75%{
    d: path("M 0,500 L 0,275 C 70.70813397129186,281.87081339712915 141.41626794258372,288.74162679425837 243,293 C 344.5837320574163,297.25837320574163 477.0430622009569,298.90430622009575 583,320 C 688.9569377990431,341.09569377990425 768.4114832535886,381.6411483253588 856,416 C 943.5885167464114,450.3588516746412 1039.311004784689,478.53110047846894 1138,504 C 1236.688995215311,529.4688995215311 1338.3444976076555,552.2344497607655 1440,575 L 1440,500 L 0,500 Z");
  }
  100%{
    d: path("M 0,500 L 0,275 C 77.69377990430621,269.0861244019139 155.38755980861242,263.17224880382776 252,274 C 348.6124401913876,284.82775119617224 464.1435406698564,312.3971291866029 555,335 C 645.8564593301436,357.6028708133971 712.0382775119618,375.23923444976083 816,400 C 919.9617224880382,424.76076555023917 1061.7033492822966,456.645933014354 1172,487 C 1282.2966507177034,517.354066985646 1361.1483253588517,546.177033492823 1440,575 L 1440,500 L 0,500 Z");
  }
}

.path-3{
  animation: pathAnim-3 50s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
@keyframes pathAnim-3{
  0%{
    d: path("M 0,500 L 0,375 C 118.57416267942583,353.4401913875598 237.14832535885165,331.8803827751196 334,346 C 430.85167464114835,360.1196172248804 505.98086124401914,409.9186602870814 591,437 C 676.0191387559809,464.0813397129186 770.9282296650719,468.44497607655495 870,489 C 969.0717703349281,509.55502392344505 1072.3062200956938,546.3014354066986 1168,580 C 1263.6937799043062,613.6985645933014 1351.846889952153,644.3492822966507 1440,675 L 1440,500 L 0,500 Z");
  }
  25%{
    d: path("M 0,500 L 0,375 C 108.75598086124404,373.4976076555024 217.51196172248808,371.99521531100476 303,390 C 388.4880382775119,408.00478468899524 450.7081339712918,445.5167464114833 548,469 C 645.2918660287082,492.4832535885167 777.6555023923446,501.9377990430621 870,530 C 962.3444976076554,558.0622009569379 1014.66985645933,604.732057416268 1103,632 C 1191.33014354067,659.267942583732 1315.665071770335,667.1339712918659 1440,675 L 1440,500 L 0,500 Z");
  }
  50%{
    d: path("M 0,500 L 0,375 C 81.82775119617227,351.00956937799043 163.65550239234454,327.01913875598086 262,351 C 360.34449760765546,374.98086124401914 475.2057416267942,446.93301435406704 588,486 C 700.7942583732058,525.066985645933 811.5215311004785,531.2488038277512 904,551 C 996.4784688995215,570.7511961722488 1070.7081339712918,604.0717703349283 1157,627 C 1243.2918660287082,649.9282296650717 1341.6459330143541,662.4641148325359 1440,675 L 1440,500 L 0,500 Z");
  }
  75%{
    d: path("M 0,500 L 0,375 C 88,379.9856459330143 176,384.9712918660287 281,389 C 386,393.0287081339713 508,396.10047846889955 605,422 C 702,447.89952153110045 774.0000000000001,496.62679425837325 874,524 C 973.9999999999999,551.3732057416267 1102,557.3923444976077 1201,579 C 1300,600.6076555023923 1370,637.8038277511962 1440,675 L 1440,500 L 0,500 Z");
  }
  100%{
    d: path("M 0,500 L 0,375 C 118.57416267942583,353.4401913875598 237.14832535885165,331.8803827751196 334,346 C 430.85167464114835,360.1196172248804 505.98086124401914,409.9186602870814 591,437 C 676.0191387559809,464.0813397129186 770.9282296650719,468.44497607655495 870,489 C 969.0717703349281,509.55502392344505 1072.3062200956938,546.3014354066986 1168,580 C 1263.6937799043062,613.6985645933014 1351.846889952153,644.3492822966507 1440,675 L 1440,500 L 0,500 Z");
  }
}