@tailwind base;
@tailwind components;
@tailwind utilities;

/* .flip-clock {
  display: inline-block;
  text-align: center;
  margin: 0 10px;
}

.flip-clock-card {
  position: relative;
  width: 80px;
  height: 100px;
  perspective: 1000px;
}

.flip-clock-top,
.flip-clock-bottom {
  position: absolute;
  width: 100%;
  height: 50%;
  background: #333;
  color: white;
  line-height: 50px;
  font-size: 2rem;
  backface-visibility: hidden;
  border-radius: 5px;
}

.flip-clock-top {
  bottom: 0;
  transform-origin: top;
  transform: rotateX(0deg);
  transition: transform 0.6s linear;
}

.flip-clock-bottom {
  bottom: 0;
  transform-origin: bottom;
  transform: rotateX(90deg);
  transition: transform 0.6s linear;
}

.flip {
  .flip-clock-top {
    transform: rotateX(-90deg);
  }
  .flip-clock-bottom {
    transform: rotateX(0deg);
  }
}

.flip-clock-label {
  margin-top: 10px;
  font-size: 1rem;
  color: white;
} */


/* .path-0, .path-1, .path-2, .path-3 { */


 /* fill: #00224ec4 ; */

  /* fill: linear-gradient(180deg, rgba(9,9,121,1) 55%, rgb(0, 123, 255) 10%); */
  /* transition: all 15s ease-in-out; */
  /* transform: matrix(3); */
  /* linear-gradient(180deg, rgba(9,9,121,1) 55%, rgb(0, 123, 255) 10%) */
  /* fill: #0087BD; */
  /* fill: linear-gradient(180deg, (#346398,1) 35%, (#342398,1) 80%); */
  /* stroke: black; */
   /* fill: lab(1 1 -25);  */

/* } */

/* .path-3{
  animation:pathAnim-3 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  }
  @keyframes pathAnim-3{
  0%{
  d: path("M 0,600 L 0,450 C 56.90896599106836,431.91411885949844 113.81793198213671,413.82823771899695 186,418 C 258.1820680178633,422.17176228100305 345.63723806252153,448.60116798351083 410,459 C 474.36276193747847,469.39883201648917 515.6331157677774,463.76709034695983 587,471 C 658.3668842322226,478.23290965304017 759.8302988663688,498.3304706286499 843,493 C 926.1697011336312,487.6695293713501 991.0456887667472,456.91102713844043 1060,436 C 1128.9543112332528,415.08897286155957 1201.9869460666434,404.02542081758844 1266,408 C 1330.0130539333566,411.97457918241156 1385.0065269666784,430.9872895912058 1440,450 L 1440,600 L 0,600 Z");
  }
  25%{
  d: path("M 0,600 L 0,450 C 52.30504981106151,444.057025077293 104.61009962212302,438.11405015458604 178,443 C 251.38990037787698,447.88594984541396 345.8646513225695,463.60082445894875 414,458 C 482.1353486774305,452.39917554105125 523.9312950875988,425.48265200961873 589,419 C 654.0687049124012,412.51734799038127 742.4101683270354,426.4685675025765 817,436 C 891.5898316729646,445.5314324974235 952.4280316042598,450.6430779800756 1016,442 C 1079.5719683957402,433.3569220199244 1145.8777052559255,410.9591205771212 1217,410 C 1288.1222947440745,409.0408794228788 1364.0611473720373,429.5204397114394 1440,450 L 1440,600 L 0,600 Z");
  }
  50%{
  d: path("M 0,600 L 0,450 C 83.2181380968739,460.35314324974235 166.4362761937478,470.7062864994847 232,470 C 297.5637238062522,469.2937135005153 345.47303332188255,457.5279972518035 401,453 C 456.52696667811745,448.4720027481965 519.671590518722,451.1817244933013 582,441 C 644.328409481278,430.8182755066987 705.8406046032293,407.74510477499143 789,420 C 872.1593953967707,432.25489522500857 976.9659910683613,479.83785640673307 1060,487 C 1143.0340089316387,494.16214359326693 1204.2954311233252,460.90346959807624 1264,448 C 1323.7045688766748,435.09653040192376 1381.8522844383374,442.54826520096185 1440,450 L 1440,600 L 0,600 Z");
  }
  75%{
  d: path("M 0,600 L 0,450 C 45.33287530058398,466.8965991068361 90.66575060116796,483.79319821367227 172,486 C 253.33424939883204,488.20680178632773 370.66987289591214,475.7238062521471 442,461 C 513.3301271040879,446.2761937478529 538.6547578151838,429.31157677773956 592,429 C 645.3452421848162,428.68842322226044 726.7110958433527,445.0298866368946 800,463 C 873.2889041566473,480.9701133631054 938.5008588114051,500.5688766746822 1003,489 C 1067.4991411885949,477.4311233253178 1131.285468911027,434.6946066643765 1204,423 C 1276.714531088973,411.3053933356235 1358.3572655444864,430.6526966678117 1440,450 L 1440,600 L 0,600 Z");
  }
  100%{
  d: path("M 0,600 L 0,450 C 56.90896599106836,431.91411885949844 113.81793198213671,413.82823771899695 186,418 C 258.1820680178633,422.17176228100305 345.63723806252153,448.60116798351083 410,459 C 474.36276193747847,469.39883201648917 515.6331157677774,463.76709034695983 587,471 C 658.3668842322226,478.23290965304017 759.8302988663688,498.3304706286499 843,493 C 926.1697011336312,487.6695293713501 991.0456887667472,456.91102713844043 1060,436 C 1128.9543112332528,415.08897286155957 1201.9869460666434,404.02542081758844 1266,408 C 1330.0130539333566,411.97457918241156 1385.0065269666784,430.9872895912058 1440,450 L 1440,600 L 0,600 Z");
  }
}

  .path-2{
    animation:pathAnim-2 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-2{
    0%{
    d: path("M 0,600 L 0,330 C 58.55719683957403,322.08588114050156 117.11439367914807,314.17176228100305 190,305 C 262.88560632085193,295.82823771899695 350.0996221229818,285.3988320164892 416,286 C 481.9003778770182,286.6011679835108 526.4871178289246,298.23290965304017 588,317 C 649.5128821710754,335.76709034695983 727.9519065613192,361.66952937135005 808,354 C 888.0480934386808,346.33047062864995 969.7052559257986,305.0889728615596 1033,309 C 1096.2947440742014,312.9110271384404 1141.227069735486,361.97457918241156 1206,373 C 1270.772930264514,384.02542081758844 1355.386465132257,357.0127104087942 1440,330 L 1440,600 L 0,600 Z");
    }
    25%{
    d: path("M 0,600 L 0,330 C 89.29714874613532,301.94366197183103 178.59429749227064,273.887323943662 237,289 C 295.40570250772936,304.112676056338 322.9199587770526,362.3943661971831 376,369 C 429.0800412229474,375.6056338028169 507.72586739951896,330.5352112676056 579,310 C 650.274132600481,289.4647887323944 714.1765716248713,293.4647887323944 798,311 C 881.8234283751287,328.5352112676056 985.5678461009961,359.60563380281684 1050,353 C 1114.4321538990039,346.39436619718316 1139.552043971144,302.11267605633805 1198,292 C 1256.447956028856,281.88732394366195 1348.223978014428,305.943661971831 1440,330 L 1440,600 L 0,600 Z");
    }
    50%{
    d: path("M 0,600 L 0,330 C 82.8223978014428,341.35829611817246 165.6447956028856,352.71659223634487 234,339 C 302.3552043971144,325.28340776365513 356.24321538990034,286.4919271727928 409,288 C 461.75678461009966,289.5080728272072 513.3823428375131,331.3156990724837 582,352 C 650.6176571624869,372.6843009275163 736.227413260048,372.2452765372724 810,366 C 883.772586739952,359.7547234627276 945.7080041222948,347.7031947784267 1013,333 C 1080.2919958777052,318.2968052215733 1152.940570250773,300.94194434902096 1225,300 C 1297.059429749227,299.05805565097904 1368.5297148746135,314.5290278254895 1440,330 L 1440,600 L 0,600 Z");
    }
    75%{
    d: path("M 0,600 L 0,330 C 52.13878392305051,350.30161456544147 104.27756784610102,370.6032291308829 184,365 C 263.722432153899,359.3967708691171 371.02851253864657,327.88869804191 435,328 C 498.97148746135343,328.11130195809 519.6083819993129,359.84197870147716 584,357 C 648.3916180006871,354.15802129852284 756.5379594641018,316.74338715218136 832,304 C 907.4620405358982,291.25661284781864 950.2397801442803,303.1844726897973 1015,302 C 1079.7602198557197,300.8155273102027 1166.502919958777,286.5187220886294 1241,289 C 1315.497080041223,291.4812779113706 1377.7485400206115,310.7406389556853 1440,330 L 1440,600 L 0,600 Z");
    }
    100%{
    d: path("M 0,600 L 0,330 C 58.55719683957403,322.08588114050156 117.11439367914807,314.17176228100305 190,305 C 262.88560632085193,295.82823771899695 350.0996221229818,285.3988320164892 416,286 C 481.9003778770182,286.6011679835108 526.4871178289246,298.23290965304017 588,317 C 649.5128821710754,335.76709034695983 727.9519065613192,361.66952937135005 808,354 C 888.0480934386808,346.33047062864995 969.7052559257986,305.0889728615596 1033,309 C 1096.2947440742014,312.9110271384404 1141.227069735486,361.97457918241156 1206,373 C 1270.772930264514,384.02542081758844 1355.386465132257,357.0127104087942 1440,330 L 1440,600 L 0,600 Z");
    }
  }

  .path-1{
    animation:pathAnim-1 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-1{
    0%{
    d: path("M 0,600 L 0,210 C 67.62281003091721,225.42631398144965 135.24562006183442,240.85262796289933 210,234 C 284.7543799381656,227.14737203710067 366.6403297835796,198.0158021298523 430,196 C 493.3596702164204,193.9841978701477 538.1930608038475,219.0841635176915 610,218 C 681.8069391961525,216.9158364823085 780.5874270010306,189.64754379938168 850,193 C 919.4125729989694,196.35245620061832 959.4572311920303,230.32566128478186 1012,244 C 1064.5427688079697,257.67433871521814 1129.5836482308484,251.0498110614909 1203,242 C 1276.4163517691516,232.9501889385091 1358.2081758845757,221.47509446925454 1440,210 L 1440,600 L 0,600 Z");
    }
    25%{
    d: path("M 0,600 L 0,210 C 82.6169701133631,225.8488491927173 165.2339402267262,241.69769838543456 229,239 C 292.7660597732738,236.30230161456544 337.6812092064584,215.058055650979 401,220 C 464.3187907935416,224.941944349021 546.0412229474406,256.0700790106493 628,253 C 709.9587770525594,249.9299209893507 792.1538990037787,212.66162830642386 855,208 C 917.8461009962213,203.33837169357614 961.3431810374443,231.28340776365516 1013,240 C 1064.6568189625557,248.71659223634484 1124.4733768464444,238.20474063895566 1197,230 C 1269.5266231535556,221.79525936104434 1354.7633115767778,215.8976296805222 1440,210 L 1440,600 L 0,600 Z");
    }
    50%{
    d: path("M 0,600 L 0,210 C 73.28959120577119,223.61868773617311 146.57918241154238,237.23737547234626 207,244 C 267.4208175884576,250.76262452765374 314.97286155960154,250.66918584678805 383,248 C 451.02713844039846,245.33081415321195 539.5293713500515,240.08588114050156 616,235 C 692.4706286499485,229.91411885949844 756.9096530401923,224.98728959120575 815,221 C 873.0903469598077,217.01271040879425 924.8320164891791,213.9649604946754 995,204 C 1065.167983510821,194.0350395053246 1153.7622810030916,177.15286843009272 1231,177 C 1308.2377189969084,176.84713156990728 1374.1188594984542,193.42356578495364 1440,210 L 1440,600 L 0,600 Z");
    }
    75%{
    d: path("M 0,600 L 0,210 C 75.92167639986258,197.77945723119205 151.84335279972515,185.55891446238408 221,188 C 290.15664720027485,190.44108553761592 352.54826520096196,207.54379938165573 413,223 C 473.45173479903804,238.45620061834427 531.9635863964273,252.26588801099282 598,245 C 664.0364136035727,237.73411198900718 737.5973892133287,209.39264857437308 820,196 C 902.4026107866713,182.60735142562692 993.6468567502579,184.16351769151493 1057,181 C 1120.353143249742,177.83648230848507 1155.8151837856408,169.95328065956718 1215,174 C 1274.1848162143592,178.04671934043282 1357.0924081071796,194.0233596702164 1440,210 L 1440,600 L 0,600 Z");
    }
    100%{
    d: path("M 0,600 L 0,210 C 67.62281003091721,225.42631398144965 135.24562006183442,240.85262796289933 210,234 C 284.7543799381656,227.14737203710067 366.6403297835796,198.0158021298523 430,196 C 493.3596702164204,193.9841978701477 538.1930608038475,219.0841635176915 610,218 C 681.8069391961525,216.9158364823085 780.5874270010306,189.64754379938168 850,193 C 919.4125729989694,196.35245620061832 959.4572311920303,230.32566128478186 1012,244 C 1064.5427688079697,257.67433871521814 1129.5836482308484,251.0498110614909 1203,242 C 1276.4163517691516,232.9501889385091 1358.2081758845757,221.47509446925454 1440,210 L 1440,600 L 0,600 Z");
    }
  }

  .path-0{
    animation:pathAnim-0 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    }
    @keyframes pathAnim-0{
    0%{
    d: path("M 0,600 L 0,90 C 66.04809343868087,115.45104774991412 132.09618687736173,140.90209549982825 211,131 C 289.90381312263827,121.09790450017177 381.66334592923397,75.84266575060116 439,67 C 496.33665407076603,58.15733424939884 519.2504294057026,85.7272414977671 584,95 C 648.7495705942974,104.2727585022329 755.3349364479559,95.24836825833047 839,81 C 922.6650635520441,66.75163174166953 983.4098248024736,47.27928546891103 1051,47 C 1118.5901751975264,46.72071453108897 1193.0257643421503,65.63448986602543 1259,76 C 1324.9742356578497,86.36551013397457 1382.487117828925,88.18275506698728 1440,90 L 1440,600 L 0,600 Z");
    }
    25%{
    d: path("M 0,600 L 0,90 C 65.24149776709032,92.23565784953624 130.48299553418065,94.47131569907249 200,89 C 269.51700446581935,83.52868430092751 343.3095156303677,70.3503950532463 413,68 C 482.6904843696323,65.6496049467537 548.278941944349,74.12710408794229 623,87 C 697.721058055651,99.87289591205771 781.5747165922365,117.14118859498453 851,122 C 920.4252834077635,126.85881140501547 975.4221916867054,119.30814153211956 1040,109 C 1104.5778083132946,98.69185846788044 1178.7365166609413,85.62624527653726 1247,82 C 1315.2634833390587,78.37375472346274 1377.6317416695292,84.18687736173138 1440,90 L 1440,600 L 0,600 Z");
    }
    50%{
    d: path("M 0,600 L 0,90 C 60.33390587427,69.84541394709721 120.66781174854,49.690827894194435 184,49 C 247.33218825146,48.309172105805565 313.66265888011,67.08210237031948 395,73 C 476.33734111989,78.91789762968052 572.6815527310202,71.98076262452766 638,82 C 703.3184472689798,92.01923737547234 737.611130195809,118.99484713156988 792,130 C 846.388869804191,141.00515286843012 920.8739264857438,136.0398488491927 1002,129 C 1083.1260735142562,121.96015115080728 1170.893163861216,112.84575747165921 1245,106 C 1319.106836138784,99.15424252834079 1379.5534180693921,94.57712126417039 1440,90 L 1440,600 L 0,600 Z");
    }
    75%{
    d: path("M 0,600 L 0,90 C 63.66197183098592,71.0772930264514 127.32394366197184,52.154586052902786 203,49 C 278.67605633802816,45.845413947097214 366.3661971830987,58.458948814840255 438,73 C 509.6338028169013,87.54105118515974 565.2112676056337,104.00961868773618 617,104 C 668.7887323943663,103.99038131226382 716.7887323943663,87.50257643421504 790,86 C 863.2112676056337,84.49742356578496 961.6338028169014,97.98007557540363 1042,110 C 1122.3661971830986,122.01992442459637 1184.676056338028,132.5771212641704 1248,129 C 1311.323943661972,125.42287873582961 1375.661971830986,107.7114393679148 1440,90 L 1440,600 L 0,600 Z");
    }
    100%{
    d: path("M 0,600 L 0,90 C 66.04809343868087,115.45104774991412 132.09618687736173,140.90209549982825 211,131 C 289.90381312263827,121.09790450017177 381.66334592923397,75.84266575060116 439,67 C 496.33665407076603,58.15733424939884 519.2504294057026,85.7272414977671 584,95 C 648.7495705942974,104.2727585022329 755.3349364479559,95.24836825833047 839,81 C 922.6650635520441,66.75163174166953 983.4098248024736,47.27928546891103 1051,47 C 1118.5901751975264,46.72071453108897 1193.0257643421503,65.63448986602543 1259,76 C 1324.9742356578497,86.36551013397457 1382.487117828925,88.18275506698728 1440,90 L 1440,600 L 0,600 Z");
    }
  } */