@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #E4EBF5;
    color: #333;
    margin: 0;
    touch-action: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --title-font-size: clamp(1.5rem, 5vw, 3rem);
  }

  * {
    margin: 0;
    touch-action: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Playfair Display', serif;
  }

  body {
    background-color: #E4EBF5;
    margin: 0;
    touch-action: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .text-shadow-custom {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  iframe {
    border-style: none;
    margin: 0;
    padding: 0;
  }

 

  .loader {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1.2s linear infinite;
    border: 2px solid transparent;
    border-top-color: #30548B;
  }

}
