/* 

@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
  .nav-item-span {
    @apply rounded-lg px-2 py-1.5 font-display text-[#4d4d4d] shadow-gray-400/20 drop-shadow-md transition-all duration-500 ease-in-out focus-within:outline-none hover:rounded-lg hover:border-gray-200 hover:bg-[#30648B]/90 hover:px-2 hover:py-1.5 hover:text-white focus:outline-none focus-visible:ring focus-visible:ring-gray-500/50;
  }

  .schedule-appointment-button {
    @apply rounded-lg border-2 border-[#4d4d4d] border-opacity-5 bg-[#30648B]/5 px-2 py-1.5 text-center font-display uppercase text-[#4d4d4d] shadow-gray-400/20 transition-all duration-500 ease-in-out hover:rounded-lg hover:bg-[#30648B]/90 hover:text-white hover:drop-shadow-md focus:outline-none focus-visible:ring focus-visible:ring-gray-500/50;
  }
}
@layer base {
  :root {
    font-family: 'Playfair Display', serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #E4EBF5;
    color: #333;
    margin: 0;
    touch-action: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    --title-font-size: clamp(1.5rem, 5vw, 3rem);
  }

  * {
    margin: 0;
    touch-action: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Playfair Display', serif;
  }

  body {
    background-color: #E4EBF5;
    margin: 0;
    touch-action: auto;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .text-shadow-custom {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  iframe {
    border-style: none;
    margin: 0;
    padding: 0;
  }


 

  .loader {
    border-radius: 50%;
    width: 16px;
    height: 16px;
    animation: spin 1.2s linear infinite;
    border: 2px solid transparent;
    border-top-color: #30548B;
  }

} */
